header nav ul li a{
    text-decoration:  none;
    font-size: 25px;
    font-weight: 500;
}
header h1{
    float: left;
}
header nav{
    float: right;
}
header *{
    background-color: black;
    display: inline-block;
}
section{
    display: inline-block;
}

main{
    padding: 5rem;
    text-align: center;
    color: red;
    font-size: 28px;
    font-weight: 90;
}
main P{
    font-weight: 100;
}
main p a{
    color: red;
    font-size: 20px;
}
footer *{
    background-color: black;
    display: inline-block;
    font-size: 30px;
    color: red;
    letter-spacing: 8px;
    text-align: left;
}
footer nav {
    float: right;
}

