header *{
    text-decoration:  none;
    font-size: 15px;
}
header div  last-child{
    float: right;
    text-align: right;
}

main{
    text-decoration:  none;
    padding: 11rem;
    text-align: center;
    color: red;
    font-size: 18px;
}
main p a{
    color: red;
    font-size: 18px;
}

footer *{
    text-decoration:  none;
    font-size: 15px;
    letter-spacing: 8px;
    text-align: right;
}
link{
    float: right;
    color: brown;
    text-align: right;
}

