header *{
    text-decoration:  none;
    font-size: 15px;
}
header div  last-child{
    float: right;
    text-align: right;
}

main{
    text-decoration:  none;
    padding: 5rem;
    color:black;
    background-image: url(DS3WRC.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.tabs {
  float: left;
  border: 1px solid #d6d8db;
  width: 100%;
  height: 500px;
  background: #839496 linear-gradient(180deg, #96a4a6, #839496) repeat-x;
  border-color: #d6d8db;
  border-radius: 10px;
  opacity: 0.95;
}

.tabs button {
  display: block;
  background: #839496 linear-gradient(180deg, #96a4a6, #839496) repeat-x;
  border-color: #d6d8db;
  border-radius: 10px;
  opacity: 0.95;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  text-align: left;
  cursor: pointer;
  font-size: 17px;
}

.tabs button:hover {
    margin: 1rem;
    background: #839496 linear-gradient(180deg, #eff3f3, #839496) repeat-x;
    border-color: #d6d8db;
    border-radius: 10px;
    opacity: 0.95;
}

.tabs button.active {
    background: #eff3f3 linear-gradient(180deg, #eff3f3, #839496) repeat-x;
    border-color: #d6d8db;
    border-radius: 10px;
    opacity: 0.95;
}

.tabcontent {
  float: left;
  background: #839496 linear-gradient(180deg, #96a4a6, #839496) repeat-x;
  border-color: #d6d8db;
  border-radius: 10px;
  opacity: 0.95;
  color: black;
  width: 100%;
  border-left: none;
  height: 500px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

