header *{
    text-decoration:  none;
    font-size: 1s5px;
}

section{
    display: inline-block;
}

main{
    padding: 4rem;
    text-align: center;
    color: red;
    font-size: 28px;
    font-weight: 90;
}
main P{
    font-weight: 100;
}
main p a{
    color: red;
    font-size: 10px;
}
footer *{
    text-decoration:  none;
    font-size: 15px;
    letter-spacing: 8px;
}


